<% @posts.each do |post|  %>
    <h1><%= post.title %></h1><br/>
    <p><%= post.body %></p><br/>
    <% if user_signed_in?%>
    <p><%= post.user.email %></p>
    <% else %>
    <p>Anonymous</p>
    <% end %>
<% end %>   